server:
  port: ${PORT:8080}

spring:
  application:
    name: gather

  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

mail:
  host: ${MAIL_HOST:sandbox.smtp.mailtrap.io}
  port: ${MAIL_PORT:2525}
  username: ${MAIL_USERNAME}
  password: ${MAIL_PASSWORD}
  properties:
    mail:
      smtp:
        auth: true
        starttls:
          enable: true

jwt:
  secret: ${JWT_SECRET}