spring:
  application:
    name: event-registration

  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

  jwt:
    # This syntax means: Try to find env variable JWT_SECRET.
    # If not found, use this long string as a fallback for local dev.
    secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}